*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
   
}
.choice:hover{ 
     background-color: #081b31;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    font-size: 25px;
}
#user-score,#comp-score{
    font-size: 35px;
}
#msg{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    padding: 15px;
    display: inline;
}
.msg-container{
    margin-top: 30px;
}
